body {
    margin: 0 ;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 20px;       
    border: 3px solid rgb(0, 0, 0);  
  }
  
  .background-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    animation: backgroundChange 8s linear infinite;
    z-index: -1; 
  }
  
  @keyframes backgroundChange {
    0%, 100% {
        background:  #101820;
    }
    50% {
        background: #6b6104;
    }
  }
  

  .top{
    position: absolute;
    top: 50px;
    left: 75px;
  }

  a.H, a.A, a.C {
    color: #ffffff; 
    text-shadow: 2px 1px 0 #7A7A7A;
      text-decoration: none;
  }
  
  a.H:hover, a.A:hover, a.C:hover {
    color: #eeff00;
  }

  .about {
    position: absolute;
    top: 190px;
    left: 250px;
    text-shadow: 3px 1px 1px #474747;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255);
    font-size: 15px;
    
  }

  .intro {
    position: absolute;
    top: 240px;
    left: 250px;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    
  }

  .hobbies{
    position: absolute;
    margin-top: 600px;
    left: 250px;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lime;
    font-size: 1em;
  }

  .skills{
    position: absolute;
    margin-top: 1000px;
    left: 250px;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lime;
    font-size: 1em;
  }

  .gallery {
    --d: 8s;
    display: grid;
    width: 18.5em;
    position: absolute;
    margin-top: 500px;
    right: 30em;
  }
  
  .gallery > img {
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    z-index: 2;
    animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
  }
  
  .gallery img:last-child {
    animation-name: slide, z-order-last;
  }
  
  .gallery > img:nth-child(1) {
    animation-delay: calc(0* var(--d));
    --r: 9deg;
  }
  
  .gallery > img:nth-child(2) {
    animation-delay: calc(-0.2* var(--d));
    --r: 14deg;
  }
  
  .gallery > img:nth-child(3) {
    animation-delay: calc(-0.4* var(--d));
    --r: 15deg;
  }
  
  .gallery > img:nth-child(4) {
    animation-delay: calc(-0.6* var(--d));
    --r: 16deg;
  }
  
  .gallery > img:nth-child(5) {
    animation-delay: calc(-0.8* var(--d));
    --r: 4deg;
  }
  
  @keyframes slide {
    10% {
      transform: translateX(120%) rotate(var(--r));
    }
    0%, 100%, 20% {
      transform: translateX(0%) rotate(var(--r));
    }
  }
  @keyframes z-order {
    10%, 20% {
      z-index: 1;
    }
    80% {
      z-index: 2;
    }
  }
  @keyframes z-order-last {
    10%, 20% {
      z-index: 1;
    }
    90% {
      z-index: 2;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .social {
    position: fixed;
    top: 500px;
  }
  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
  }
  .social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: #ffffff;
    background: #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #000000;
    transform: rotate(0deg);
  }

  .container{
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-top: 1100px;
    left: 75em;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}


.wrapper{
    width: 100%;
    display: flex;
    animation: slidein 12s infinite;
}

img{
    width: 100%;
}

@keyframes slidein{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    
}

.Works {
  
    position: absolute;
    margin-top: 1400px;
    left: 250px;
    text-shadow: 3px 3px 2px #474747;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lime;
    font-size: 2.5em;
  
}

.light3 {

  position: absolute;
    margin-top: 1550px;
    left: 250px;
    font-family: bungee, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lime;
    font-size: 1em;
}

.x{
  
  position: absolute;
  margin-top: 75em;
  left: 20em;
  text-shadow: 3px 3px 2px #474747;
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fafafa;
  font-size: 1.5em;

}

.x, .y, .z {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
.x:where(:hover, :focus-visible), .y:where(:hover, :focus-visible), .z:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.light {
  
  position: absolute;
    margin-top: 99em;
    left: 65em;
}

.y {
  
  position: absolute;
    margin-top: 95em;
    left: 20em;
  text-shadow: 3px 3px 2px #474747;
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-size: 1.5em;
}

.calcu2 {
  position: absolute;
    margin-top: 130em;
    left: 65em;
}

.z {
  
  position: absolute;
    margin-top: 115em;
    left: 20em;
  text-shadow: 3px 3px 2px #474747;
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-size: 1.5em;
}

.clock2 {
  position: absolute;
    margin-top: 161em;
    left: 65em;
}

